body {
  background-color: #d6d6d6;
  font-family: "Roboto", sans-serif;
}

.link {
  text-decoration: none;
}

/* Footer */

footer {
  height: 40px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > a {
  text-decoration: none;
  color: black;
}

/* Header */

header {
  height: 80px;
  background-color: #3a3a3a;
}

.containerHeader {
  margin: 0 auto;
  width: 1080px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.containerHeader img {
  height: 80px;
}

.buttonHeader {
  height: 50px;
  width: 150px;
  outline: none;
  border-radius: 10px;
  border: 2px solid white;
  background-color: #3a3a3a;
  color: white;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
}

.buttonHeader:hover {
  border: none;
  background-color: #e35436;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

/* Home */

.hero {
  height: 375px;
  display: flex;
  justify-content: center;
}

.hero img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.container {
  margin: 0 auto;
  width: 1080px;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
}

.cards img {
  width: 235px;
  height: 250px;
  margin-top: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  object-fit: cover;
}

.cards {
  margin: 15px;
  background-color: white;
  width: 235px;
  height: 400px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.cards:hover {
  transform: scale(1.01);
  transition-duration: 0.4s;
}

.cards > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards > div > h3 {
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}

.cards > div > span:last-child {
  margin-top: 10px;
  text-decoration: none;
}

.red {
  color: red;
}

.green {
  color: #81d999;
}

/* ProductById */

.containerProduct {
  margin: 0 auto;
  width: 1280px;
}

.containerTitle {
  height: 110px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.containerTitle h2 {
  font-size: 25px;
  margin-left: 20px;
}

.descriptionContainer {
  height: 700px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.descriptionContainer img {
  height: 500px;
  width: 400px;
  object-fit: cover;
}

.descriptionContainer > div {
  width: 600px;
  height: 450px;
}

.descriptionContainer p {
  text-align: justify;
}

.stock {
  height: 100px;
  background-color: #eeeeef;
  margin-top: 40px;
  display: flex;
  align-items: center;
}

.stock div:nth-child(odd) {
  width: 50%;
  height: 100%;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dividerButton {
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}

.buttonModifyDelete {
  height: 60px;
  width: 250px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #e35436;
  background-color: white;
  color: #e35436;
  cursor: pointer;
  font-size: 18px;
}

.buttonModifyDelete:hover {
  border: none;
  background-color: #e35436;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

.divider {
  display: block;
  height: 80%;
  width: 1px;
  background: #adadad;
}

/* Publish */

.publishContainer {
  margin: 0 auto;
  width: 600px;
}

.publishContainer > h2 {
  font-size: 24px;
  padding-top: 20px;
  text-align: center;
}

.selectFile {
  width: 100%;
  height: 100px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleSection {
  width: 100%;
  height: 250px;
  background-color: white;
}
.textInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.textInput > input {
  width: 60%;
  resize: none;
  border: solid 1px #919191;
  outline: none;
  color: black;
  font-size: 16px;
}

.textInput > textarea {
  width: 60%;
  resize: none;
  border: solid 1px #919191;
  outline: none;
  color: black;
  font-size: 16px;
}

.detailsSection {
  width: 100%;
  height: 400px;
  margin-top: 50px;
  background-color: white;
}

.diplayButton {
  display: flex;
  justify-content: center;
}

.buttonAdd {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 30px;
  width: 150px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #e35436;
  background-color: white;
  color: #e35436;
  cursor: pointer;
  font-size: 12px;
}

.buttonAdd:hover {
  border: none;
  background-color: #e35436;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}

/* Modify a product */

.modifyImg {
  height: 500px;
  width: 400px;
  background-color: #eeeeef;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  width: 600px;
  height: 450px;
}

.inputContainer > textarea {
  margin-top: 20px;
  width: 100%;
}

.inputContainer > input {
  width: 50%;
  margin-top: 20px;
}

.buttonModify {
  height: 60px;
  width: 250px;

  outline: none;
  border-radius: 5px;
  border: 1px solid #e35436;
  background-color: white;
  color: #e35436;
  cursor: pointer;
  font-size: 18px;
}

.displayMoify {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.buttonModify:hover {
  border: none;
  background-color: #e35436;
  color: white;
  cursor: pointer;
  transition-duration: 0.4s;
}
